doctype html
head
  meta(charset='UTF-8')
  meta(name='description', content='')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags
  // Title
  title Blog
  // Favicon
  link(rel='icon', href='img/core-img/favicon.ico')
  // Core Stylesheet
  link(rel='stylesheet', href='style.css')
// Preloader
#preloader
  i.circle-preloader
  img(src='img/core-img/salad.png', alt='')
// Search Wrapper
.search-wrapper
  // Close Btn
  .close-btn
    i.fa.fa-times(aria-hidden='true')
  .container
    .row
      .col-12
        form(action='#', method='post')
          input(type='search', name='search', placeholder='Type any keywords...')
          button(type='submit')
            i.fa.fa-search(aria-hidden='true')
// ##### Header Area Start #####
header.header-area
  // Top Header Area
  .top-header-area
    .container.h-100
      .row.h-100.align-items-center.justify-content-between
        // Breaking News
        .col-12.col-sm-6
          .breaking-news
            #breakingNewsTicker.ticker
              ul
                li
                  a(href='#') Welcome to The Neon Flamingo
                li
                  a(href='#') New Recipes Every Week!
                li
                  a(href='#') Enjoy!
        // Top Social Info
        .col-12.col-sm-6
          .top-social-info.text-right
            a(href='#')
              i.fa.fa-pinterest(aria-hidden='true')
            a(href='#')
              i.fa.fa-facebook(aria-hidden='true')
            a(href='#')
              i.fa.fa-twitter(aria-hidden='true')
            a(href='#')
              i.fa.fa-dribbble(aria-hidden='true')
            a(href='#')
              i.fa.fa-behance(aria-hidden='true')
            a(href='#')
              i.fa.fa-linkedin(aria-hidden='true')
  // Navbar Area
  .delicious-main-menu
    .classy-nav-container.breakpoint-off
      .container
        // Menu
        nav#deliciousNav.classy-navbar.justify-content-between
          // Logo
          a.nav-brand(href='index.html')
            img(src='img/core-img/CocktailRecipess.jpg', alt='Neon Flamingo')
          // Menu
          .classy-menu
          // close btn
          .classycloseIcon
            .cross-wrap
              span.top
              span.bottom
          // Nav Start
          .classynav
            ul
              li.active
                a(href='index.html') Home
              li
                a(href='#') Pages
                ul.dropdown
                  li
                    a(href='index.html') Home
                  li
                    a(href='about.html') About Us
                  li
                    a(href='blog-post.html') Blog Post
                // Nav End
// ##### Header Area End #####
// ##### Breadcumb Area Start #####
.breadcumb-area.bg-img.bg-overlay(style='background-image: url(img/bg-img/breadcumb2.jpg);')
  .container.h-100
    .row.h-100.align-items-center
      .col-12
        .breadcumb-text.text-center
          h2 Blog
// ##### Breadcumb Area End #####
// ##### Blog Area Start #####
.blog-area.section-padding-80
  .container
    .row
      .col-12.col-lg-8
        .blog-posts-area
          // Single Blog Area
          .single-blog-area.mb-80
            // Thumbnail
            .blog-thumbnail
              img(src='img/core-img/exps166450_HC173837B03_04_10b-1024x1024.jpg', alt='')
              // Post Date
              .post-date
                a(href='#')
                  span 05
                  | April 
                  br
                  |  2018
            // Content
            .blog-content
              a.post-title(href='#') The Moscow Mule and why it&apos;ll be the best addition your holiday event
              .meta-data
                | by 
                a(href='#') Maria Williams
                |  in 
                a(href='#') Restaurants
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              a.btn.delicious-btn.mt-30(href='#') Read More
          // Single Blog Area
          .single-blog-area.mb-80
            // Thumbnail
            .blog-thumbnail
              img(src='img/blog-img/2.jpg', alt='')
              // Post Date
              .post-date
                a(href='#')
                  span 05
                  | April 
                  br
                  |  2018
            // Content
            .blog-content
              a.post-title(href='#') 10 tips to live a healty life...More wine
              .meta-data
                | by 
                a(href='#') Chase Phillips
                |  in 
                a(href='#') Recipes
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              a.btn.delicious-btn.mt-30(href='#') Read More
          // Single Blog Area
          .single-blog-area.mb-80
            // Thumbnail
            .blog-thumbnail
              img(src='img/core-img/bloodymary.jpg', alt='')
              // Post Date
              .post-date
                a(href='#')
                  span 05
                  | April 
                  br
                  |  2018
            // Content
            .blog-content
              a.post-title(href='#') Bloody Mary, don&apos;t mix it twice
              .meta-data
                | by 
                a(href='#') Thomas Tiller
                |  in 
                a(href='#') Rescipes
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec varius dui. Suspendisse potenti. Vestibulum ac pellentesque tortor. Aenean congue sed metus in iaculis. Cras a tortor enim. Phasellus posuere vestibulum ipsum, eget lobortis purus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
              a.btn.delicious-btn.mt-30(href='#') Read More
        .contact-area.section-padding-0-80
          .container
            .row
              .col-12
                .section-heading
                  h3 Contact Us
            .row
              .col-12
                .contact-form-area
                  form(action='#', method='post')
                    .row
                      .col-12.col-lg-6
                        input#name.form-control(type='text', placeholder='Who are ya bruv?')
                      .col-12.col-lg-6
                        input#email.form-control(type='email', placeholder="What's your personal email if you don't mind me asking?")
                      .col-12
                        input#subject.form-control(type='text', placeholder="What's up?")
                      .col-12
                        textarea#message.form-control(name='message', cols='30', rows='10', placeholder='Shoot your shot!')
                      .col-12.text-center
                        button.btn.delicious-btn.mt-30(type='submit') Send
      // Widget
// ##### Blog Area End #####
// ##### Follow Us Instagram Area Start #####
// ##### Follow Us Instagram Area End #####
// ##### Footer Area Start #####
footer.footer-area
  .container.h-100
    .row.h-100
      .col-12.h-100.d-flex.flex-wrap.align-items-center.justify-content-between
        // Footer Social Info
        // Footer Logo
        .footer-logo
          a(href='index.html')
            img(src='img/core-img/', alt='')
        // Copywrite
        p
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright &copy;
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made with 
          i.fa.fa-heart-o(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com', target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
// ##### Footer Area Start #####
// ##### All Javascript Files #####
// jQuery-2.2.4 js
script(src='js/jquery/jquery-2.2.4.min.js')
// Popper js
script(src='js/bootstrap/popper.min.js')
// Bootstrap js
script(src='js/bootstrap/bootstrap.min.js')
// All Plugins js
script(src='js/plugins/plugins.js')
// Active js
script(src='js/active.js')
